<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <smilestoredelivery>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Smile\StoreDelivery\Model\Carrier</model>
                <name>Store Delivery</name>
                <price>0.00</price>
                <title>StoreDelivery</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
            </smilestoredelivery>
        </carriers>
    </default>
</config>
